html,body {
    height: 100%;
    font-size: 16px;
}

a{
	color: #EC7D00;
	text-decoration: none;
	text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.1);
}

a:hover{
	text-decoration: underline;
}

a.btnEliminar{
	color: red;
	font-size: 1.2em;
}

div{
	display: inline-block;
}

div#graficaPersonal{
	margin-left: 1%;
	width: 90%
}

div.linkProblemas{
	margin-left: 25%;
	width: 50%;
}

div.linkProblemas a{
	margin: auto;
	padding: 0.1px;
}


header, section, footer{
	display: inline-block;
	height: 11%;
	margin: 0.2em 0;
	width: 100%;
}

header{
	background: #1A2366;
}

header.index{
	background: #1A2366;
	color: #FFFFFF;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

header figure, header p {
	display: inline-block;
}

header figure{
	margin: 0.3em 0.1em;
}

header img{
	border-radius: 3px;
	height: 55px;
}

header p{
	display: inline-block;
	margin: 0.3em 0;
	margin-right: 0.2em;
}

header p::first-letter{
	font-size: 1.3em;
	text-decoration: overline;
	text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.5);
}


header p:nth-child(2)::first-letter{
	color: #40B1E0;
}

header p:nth-child(3)::first-letter{
	color: #FAE802;
}

header p:nth-child(4)::first-letter{
	color: #B9071A;
}

header p:nth-child(5)::first-letter{
	color: #47CD05;
}

fieldset{
	background : #FCFCFC;
	border-radius: 9px;
	margin: 0.8em 0.2em;
	padding: 1.3em;
	-webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    5px 5px 11px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         5px 5px 11px 0px rgba(50, 50, 50, 0.9);
}

fieldset.fieldsetContrasena{
	margin: 9% auto;
	width: 40%;
}

fieldset.fieldsetContrasena p{
	margin: 0.4em auto;
	margin-right: 3em;
}

fieldset.datosUsuario{
	margin: 2.6em auto;
	padding: 1.5em;
	width: 70%;
}

fieldset.fieldsetEliminar{
	margin: 5.8em auto;
	text-align: center;
	padding: 3em;
	width: 30%;
}

fieldset.fieldsetEliminar p{
	margin: 1em auto;
}

fieldset.fieldsetEliminar p a{
	font-size: 1.4em;
}

fieldset.fieldsetIndex{
	background: #EDEDED;
	border-radius: 9px;
	height: 100%;
	margin: auto;
	padding: 0.8em;
	text-align: right;
	width: 24%;

	-webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    5px 5px 11px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         5px 5px 11px 0px rgba(50, 50, 50, 0.9);
}

fieldset#home{
	margin: 1.6em auto;
	width: 50%;
}

fieldset#home{
	text-align: justify;
}

fieldset input.button{
	background: rgb(58, 65, 139);
	border-radius: 8px;
	color: white;
	padding: 0.2em 1em;
	font-weight: 600;

	-webkit-box-shadow: 5px 5px 11px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    5px 5px 11px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         5px 5px 11px 0px rgba(50, 50, 50, 0.9);
}

fieldset input.button:hover{
	background: white;
	color: black;
}

figure#logoCOJ{
	margin-top: 1.1em;
}

footer{
	background: #F1F1F1;
    height: 13%;
    left: 0;
    margin-bottom: 0;
    text-align: center;
	width: 100%;
}

footer figure{
	margin-top: 0.2em;
}

footer figure img{
	height: 80px;
}

img{
	border-radius: 1em;
}

legend{
	color: #000000;
	background: #FCFCFC;
	border-radius: 4px;
	font-size: 1.2em;
	margin: auto;
	padding: 0.1em;
}

nav {
	background-color: #1A2366;
	border: 0px solid #000000;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #FFF;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%; 
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
		
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
}
	
nav > ul > li > a {
	color: #FFF;
	display: block;
	line-height: 56px;
	padding: 0 24px;
	text-decoration: none;
}

nav > ul > li > a:hover{
	text-decoration: none;
}

nav > ul > li > a > .caret {
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	  transition: color 0.1s linear; 
}

nav > ul > li:hover {
    background-color: rgb( 40, 44, 47 );
}

nav > ul > li:hover > a {
    color: rgb( 0, 175, 0 );
}

nav > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255 );
}

nav > ul > li > div {
	background-color: rgb( 40, 44, 47 );
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 220px;
	visibility: hidden;
	z-index: 100;
	
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

nav > ul > li > div ul > li {
		display: block;
}
	
nav > ul > li > div ul > li > a {
	color: #fff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}
	
nav > ul > li > div ul > li:hover > a {
	color: #58A8A8;
	background-color: rgba( 255, 255, 255, 0.1);
	border-left: 5px solid #58A8A8;
	text-decoration: none;
}

nav > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}

section{
	margin-left: 0.1%;
	background: #FFF;
	height: auto;
	padding-bottom: 5px; /* El tamaño del footer para evitar el sobreposicionamiento */
	width: 99.5%;
}

section.sectionLogin{
	height: 74%;
}

table td{
	padding: 0.1em 3em;
}

table#actualizarCategorias{
	margin-bottom: 0.5em;
	width: 95%;
}

table#actualizarCategorias td{
	border-top: 1px solid black;
	font-size: 0.8em;
	padding: 0.3em;
	text-align: center;
}

table#actualizarCategorias tr:first-child{
	font-size: 1.2em;
	color: rgb(24, 77, 194);
}

table#actualizarCategorias td:nth-child(odd){
	border-right: 1px solid black;
	width: 80%;
}

table#actualizarCategorias td:nth-child(even){
	width: 20%;
}

table#comparadorProblemas{
	font-size: 0.9em;
	margin-bottom: 2em;
}

table#comparadorProblemas td{
	padding: 5px;
	margin: 0;
	margin-top: 1em;
	margin-right: 2px;
}

table#comparadorProblemas td:nth-child(even){
	border-right: 1px solid black;
}

table#datosUsuario{
	margin-left: 20%;
	padding: 1.8em;
}

table#diferenciaProblemas{
	margin-bottom: 1em;
	width: 90%;
}

table#diferenciaProblemas td{
	border-bottom: 1px solid black;
	padding: 2em 3em;
	text-align: right;
}

table#diferenciaProblemas td:nth-child(odd){
	border-right: 1px solid black;
	width: 20%;
}

table#diferenciaProblemas td:nth-child(even){
	width: 80%;
}

table#comparacion{
	text-align: justify;
	margin-left: 20%;
	padding: 1.8em;
}

table#comparacion td{
	padding: 0.1em 1em;
}

progress[value] {
  	-webkit-appearance: none;
    -moz-appearance: none;

  	background: black;
  	border: none;
	border-radius: 50px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
  	height: 20px;
	padding: 2px;
  	width: 250px;
}

progress::-moz-progress-bar { 
	border-radius: 50px;
    background-image:
		-moz-linear-gradient(bottom left, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
		-moz-linear-gradient(rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
		-moz-linear-gradient(left, #09c, #f44);

  	background-size: 25px 14px, 100% 100%, 100% 100%;
  	-moz-animation: move 5s linear 0 infinite;
}

progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
	-webkit-animation: move 5s linear 0 infinite;
}

progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
background-image:
	   -webkit-linear-gradient(bottom left, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}


.activeLoginALink{
	font-size: 1.3em;
	text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.71);
}

.activeLoginALink:hover{
	text-decoration: underline;
}

.center{
	text-align: center;
}

.disableALink{
	color: black;
	cursor: default;
	text-decoration: none;
	font-size: 0.8em;
}

.disableALink:hover{
	text-decoration: none;
}

.displayBlock{
	display: block;
}

.displayNone{
	display: none;
}

.formulario{
	text-align: center;
	margin: 1em;
}

.formularioLogin{
	display: none;
}

.left{
	text-align: left;
}

.marginTop1Em{
	margin-top: 1em;
}

.right{
	text-align: right;
}

.justify{
	text-align: justify;
}
